@import '../abstract/variaveis';

@media (max-width: $tamanho-celular){
    .atalhos{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $cor-terciaria;
        .container{
            width: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                max-width: max-content;
                li{
                    padding: 12px;
                    a{
                        text-decoration: none;
                        color: $cor-principal;
                        font-weight: 500;
                        font-size: 80%;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }            
        }
    }
}