@import '../abstract/variaveis';

.carrossel-informacoes{
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;    
    img{
        height: 400px;
    }
}
