@import '../abstract/variaveis';

@media (max-width: $tamanho-celular){
    .carrossel-informacoes{
        height: 50%;
        overflow-x: hidden;
        .container{
            display: flex;
            img{
                height: 35vh;
                overflow: hidden;
            }
        }
    }
}