@import '../abstract/variaveis';


    .narguiles-section{
        background-color: $cor-fundo;
        width: 100%;
        margin-bottom: 20px;
        .container{
            margin-top: 20px;
            background-color: #fff;
            border-radius: 15px;
            .narguiles{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                h2{
                    padding-bottom: 12px;
                    margin-left: 12px;
                }
            }
        }
    }
