@import '../abstract/variaveis';

@media (max-width: $tamanho-celular){
    nav{
        width: 100%;
        background-color: $cor-secundaria;
        padding: 8px;
        .container{
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                text-align: center;
                img{
                    height: 5vh;
                }
                h1{
                    color: $cor-principal;
                    font-size: 2vh;
                }
            };
            .barra-de-pesquisa{
                display: none;
            }
            .para-clicar{
                filter: invert(1);
            }
        }
    }
}