@import '../abstract/variaveis';

    .produto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        .produto-single{
            .informacoes-produtos{
                display: flex;
                flex-direction: column;
                padding: 8px;
                .nome-produto{
                    text-align: center;
                    font-weight: bold;
                }
                .variavel{
                    display: none;
                }
                .valor-produto{
                    text-align: center;
                    margin-top: 6px;
                }
                .add-cart{
                    margin-top: 4px;
                    font-weight: bold;
                    background-color: $cor-principal;
                    border: none;
                    padding: 5px;
                }
            }
        }
    }

    @media (min-width: $tamanho-desktop){
        .produto-image{
            img{
                height: 350px;
            }
        }
    }

    @media (max-width: $tamanho-max-tablet){
        .produto-image{
            img{
                height: 30vh;
            }
        }
    }

    @media (max-width: $tamanho-min-tablet){
        .produto-image{
            img{
                height: 27vh;
            }
        }
    }