$cor-principal: #F4CE14;
$cor-secundaria: #495E57;
$cor-terciaria: #45474B;
$cor-de-fundo: #F5F7F8;


$tamanho-celular: 767px;
$tamanho-min-tablet: 768px;
$tamanho-max-tablet: 1023px;
$tamanho-desktop: 1024px;